title: 157io
description: Crafting web for users
google_analytics: 
show_downloads: true
remote_theme: heiswayi/the-plain

plugins:
  - jekyll-mentions

author_name:        "Mathieu Le Tiec"
logo_url:           "https://avatars.githubusercontent.com/u/1052778?v=4"

# Site Settings
url:                "https://www.157io.fr"
baseurl:            /
permalink:          /:title # Post permalink
timezone:           Europe/Madrid
mathjax:            true  # enables support for mathjax - set to 'false' to disable
social_share_previews: true

# Site Build
highlighter:        rouge
markdown:           kramdown
kramdown:
    input:          GFM
sass:
    style:          :compressed

# Other Params
include:            [ "robots.txt" ]
exclude:            [ "LICENSE", "README.md", "CNAME", "vendor", "Gemfile", "script" ]
plugins:
  - jekyll-sitemap



defaults:
  -
    scope:
      path:         ""
    values:
      layout:       "null"
  -
    scope:
      type:         "pages"
    values:
      layout:       "page"
  -
    scope:
      type:         "posts"
    values:
      layout:       "post"
